name: myakiba-redis-stack

services:
  redis:
    image: redis/redis-stack:latest
    container_name: myakiba-redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - myakiba_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  myakiba_redis_data:
